spring:
  application:
    name: health-check
  datasource:
    url: jdbc:postgresql://localhost:15432/healthdb
    username: health
    password: healthpass
    hikari:
      connection-timeout: 2000
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  data:
    mongodb:
      host: localhost
      port: 27017
      database: healthdb
    redis:
      host: localhost
      port: 16379
  rabbitmq:
    host: localhost
    port: 5673
    username: guest
    password: guest

monitoring:
  mock-server-url: http://localhost:18080/health

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
      group:
        readiness:
          include:
            - postgres
            - redis
            - rabbitmq
            - mongodb
            - mockWebServer
  health:
    defaults:
      enabled: false

